html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    border: solid 2px;
    display: flex;
    list-style-type: none;
    margin-left: auto;
    padding: 14px 6px;
    margin-right: 15px;
}

nav{
    display: flex;
    align-items: center;
    padding: 2px 4px;
    position: fixed;
    border: solid 2px;
    width: 99%;
}

nav a{
    text-decoration: none;
    color: gray;
}

h1{
    border: solid 2px;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    margin-left: 15px;
}

li{
    border: solid 2px;
    font-size: 18px;
    font-weight: bold;
    padding: 13px ;
    margin-left: 12px;
    margin-right: 12px;
}

li>a{
    border: solid 2px;
    padding: 6px 12px    ;
}




