@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Covered+By+Your+Grace&family=Sedgwick+Ave+Display&display=swap');


body 
{
    background-color: lightblue;
    font-family: "Covered By Your Grace", cursive;
    margin-left: 30px;
}

li{
    font-size: 20px;
    /*ndjnf*/
}

.classwork{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#tuts
{
    grid-column: 1;
    
}

#exams
{
    grid-column: 2;
}

#hw
{
    grid-column: 3;
}
