body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(85, 157, 202);
    margin: 0;
}

.navbar {
    padding: 20px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a, .navbar strong {
    margin-right: 15px;
}

.photo-section {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.photo-section img {
    width: 32%;
    margin-right: 1.3%;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
}

h1, p{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(85, 157, 202);
    font-weight: bold;
}

a{
    color: rgb(135, 135, 255);
}
