html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen {
    main{
        flex-direction: column;
    }

    /*section{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }*/

    /*RAINBOW!*/

    #home {
        background-color: rgb(255, 150, 150);  
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #bio {
        background-color: rgb(255, 195, 84);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #portfolio {
        background-color: rgb(255, 255, 157);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact {
        background-color: rgb(150, 255, 150);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

