body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: pink;
    /* you will add addition rules for the container here  */
}

/* create your child rules here:  */

.item-1, .item-3, .item-5{
    border: solid 1px;
    grid-column: 1 / 3;
    background-color: rgb(255, 218, 223);
}

.item-2, .item-4{
    border: solid 1px;
    grid-column: 2 / 4;
    background-color: rgb(255, 218, 223);
}

