body * {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*
Part 1: Create some style blocks to style the card. 
    Experiment with: border, padding, margin, height, and width.
*/

.card{
    box-sizing: border-box;
    border: solid 1px;
    width: 300px;
    overflow: hidden;
}

.card h2{
    margin: 16px;
}

.card img{
    width: 100%;
    height: auto;
    display: block;
}

.card p{
    margin: 16px;
    font-size: 15px;
}

.card button{
    margin-bottom: 16px;
    margin-left: 16px;
}

/*
Part 2: Put the main element (the card's parent container)
into flex mode (display: flex) and adjust the 
justify-content and align-items properties to center the card.
*/

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



